<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.1" targetFramework="net452" />
  <package id="kayChart.dll" version="0.4.7" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net452" />
  <package id="OxyPlot.Core" version="1.0.0" targetFramework="net452" />
  <package id="OxyPlot.WindowsForms" version="1.0.0" targetFramework="net452" />
  <package id="SampleDependency" version="1.0.0" targetFramework="net452" />
</packages>